*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #444343;
}

/* Common CSS */
.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-50{
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.sec-padding{
    padding: 70px 0;
}
.sec-title {
    margin-bottom: 40px;
    text-align: center;
}
h1, h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #151414;
}
h1{
    font-size: 65px;
    line-height: 78px;
}
h2{
    font-size: 45px;
    line-height: 58px;
}
h3{
    font-size: 25px;
    line-height: 38px;
}
a{
    text-decoration: none;
    color: #010313;
}
.primary-btn{
    padding: 10px 20px;
    border: 2px solid #010313;
    border-radius: 5px;
    background-color: #ddd;
    font-size: 20px;
    font-weight: 700;
    color: #010313;
}

/* Banner-Area CSS */
.banner-area{
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.banner-content{
    padding-left: 50%;
}
.banner-desc{
    margin: 20px 0;
}

/* About Area CSS */
.about-me-area{
    background-color: rgba(163, 250, 231, 0.384); 
}
.about-content{
    margin-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-desc{
    margin: 20px 0;
}
.checklist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.checklist li{
    margin-bottom: 15px;
}
.checklist img{
    width: 18px;    
}

/* Plan Area CSS */
.plan-items{
    display: flex;
    justify-content: space-around;
}
.plan-item{
    width: 280px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgba(166, 186, 250, 0.596);
    border-radius: 10px;
    box-shadow: 4px 10px 20px #ddd;
}
.plan-item:hover{
    
    box-shadow: 4px 10px 30px rgb(116, 102, 102);
}
.plan-img img{
    width: 100px;
    height: 100px;
}